# Ignore everything
*

# Except...
!.gitignore
!.gitignore_global
!.gitconfig
!.bash_aliases
!.bashrc
!.profile
!.inputrc

!/bin/
!/bin/aws-hosts
!/bin/colors
!/bin/diff-so-fancy
!/bin/obfuscate-db
!/bin/release-notes
!/bin/ssc
!/bin/ssh-multi

!/bin/completions/
!/bin/completions/*

!/bin/mac-webcam/
!/bin/mac-webcam/*
