# Ignore everything
*

# Except...
!.gitignore
!.bash_aliases
!.bashrc
!.profile

!/bin/
!/bin/aws-hosts
!/bin/colors
!/bin/obfuscate-db
!/bin/release-notes
!/bin/ssc
!/bin/ssh-multi

!/bin/completions/
!/bin/completions/*
